{%extends 'index.html' %}
{% block table %}
    <header class="d-flex justify-content-center py-3">
        <ul class="nav nav-pills">
            <li class="nav-item"><a href="/" class="nav-link " aria-current="page">Members</a></li>
            <li class="nav-item"><a href="/history" class="nav-link active" aria-current="page">History</a></li>
            <li class="nav-item"><a href="/department" class="nav-link" aria-current="page">Department</a></li>
            <li class="nav-item"><a href="/mem_trips" class="nav-link" aria-current="page">Mem Trips</a></li>
            <li class="nav-item"><a href="/trips" class="nav-link " aria-current="page">Trips</a></li>
        </ul>
    </header>
    <h2>History Table</h2>
    <h4>Number of records: {{rows|length}}</h4>
    {% block form %}

        <form class="row gy-2 gx-3 align-items-center" method="post">
            
            <div class="col-auto">
                <label for="date">DATE:</label>
                <input class="form-control" type="date" name="date" id="date">
            </div>
            <div class="col-auto">
                <label for="email"> Email:</label>
                <input class="form-control" type="text" id="email" name="email">
            </div>
            <div class="col-auto">
                <label for="position">Position:</label>
                <input class="form-control" type="text" id="position" name="position">
            </div>
            <div class="col-auto">
                <label for="fk_member">Member ID:</label>
                <input class="form-control" type="number" id="fk_member" name="fk_member">
            </div>
            <div class="col-auto">
                <label for="tel_number">Tel number:</label>
                <input class="form-control" type="number" id="tel_number" name="tel_number">
            </div>
            <div class="col-auto">
                <input class="btn btn-primary" type="submit" ></input>
            </div>
        </form>
        
    {% endblock %}

    <div >*Добавлять можно только существующий member.id</div>
    
    <div class="container">
        <table class="table table-hover table-lg">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>DATE</th>
                    <th>EMAIL</th>
                    <th>POSITION</th>
                    <th>FK MEMBER</th>
                    <th>TEL NUMBER</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                {% for row in rows %}
                    <tr>
                        <td>{{ row.id }}</td>
                        <td>{{ row.dat }}</td>
                        <td>{{ row.email }}</td>
                        <td>{{ row.pos }}</td>
                        <td>{{ row.fk_member }}</td>
                        <td>{{ row.tel_number }}</td>
                        <td><button class="btn btn-danger rounded-pill px-3" type="button" onclick="location.href='/hystory/{{row.id}}/del'">Delete</button></td>
                        <!-- <td><a href='/hystory/{{row.id}}/del' >Delite</a></td> -->
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}


